@font-face 		{
				font-family: 'Share Tech Mono';
				src: url('ShareTechMono-Regular.ttf') format(ttf);
}

body            {letter-spacing: 0.1px; padding: 0; margin: 0; font-family: 'Share Tech Mono', Monospace, Courier; 
                font-weight: 400; font-size: 17px; color: #FF009F; background: #222;}
.header			{height: 66px; width: 100%; margin: auto; margin-bottom: 50px; border-bottom: dotted 1px #FF009F;}
.logodiv 		{max-width: 900px; margin:auto; padding: 0 20px;}
.logo			{width: 41px; margin: auto; margin-top: 20px;}
.content		{font-family: 'Share Tech Mono', Monospace, Courier;}
